
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                   <h2>Featured products </h2>
                   <p>	Browse the collection of our Featured products.</p>
                </div>
            </div>
        </div> 


        <div class="row">
            <div class="product_carousel product_column4 owl-carousel">
                <div class="col-lg-3">
                    <div class="product_items">
                         <article class="single_product">
                             <figure>
                                 <div class="product_thumb">
                                     <a class="primary_img" href="product-details.html"><img src="../../../assets/img/Product/product14.jpg" alt=""></a>
                                     <a class="secondary_img" href="product-details.html"><img src="../../../assets/img/Product/product3.jpg" alt=""></a>
                                     <div class="label_product">
                                         <span class="label_sale">-20%</span>
                                     </div>
                                     <div class="action_links">
                                         <ul>
                                             <li class="add_to_cart"><a href="cart.html" title="Add tob cart"><i class="icon-bag icons"></i></a></li> 
                                             <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="icon-heart icons"></i></a></li> 
                                             <li class="compare"><a href="#" title="Add to Compare"><i class="icon-shuffle icons"></i></a></li>
                                             <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"> <i class="icon-eye icons"></i></a></li>
                                         </ul>
                                     </div>
                                 </div>
                                 <figcaption class="product_content">
                                     <h4 class="product_name"><a href="product-details.html">Juicy Couture Tricot Logo Stripe Jacket</a></h4>
                                     <div class="price_box"> 
                                         <span class="old_price">$35.00</span>
                                         <span class="current_price">$28.00</span>
                                     </div>
                                     <div class="product_rating">
                                         <ul>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                         </ul>
                                     </div>
                                 </figcaption>
                             </figure>
                         </article>
                         <article class="single_product">
                             <figure>
                                 <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img src="../../../assets/img/Product/product14.jpg" alt=""></a>
                                     <a class="secondary_img" href="product-details.html"><img src="../../../assets/img/Product/product3.jpg" alt=""></a>
                                    
                                     <div class="action_links">
                                         <ul>
                                             <li class="add_to_cart"><a href="cart.html" title="Add tob cart"><i class="icon-bag icons"></i></a></li> 
                                             <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="icon-heart icons"></i></a></li> 
                                             <li class="compare"><a href="#" title="Add to Compare"><i class="icon-shuffle icons"></i></a></li>
                                             <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"> <i class="icon-eye icons"></i></a></li>
                                         </ul>
                                     </div>
                                 </div>
                                 <figcaption class="product_content">
                                     <h4 class="product_name"><a href="product-details.html">New Balance Fresh Foam Kaymin</a></h4>
                                     <div class="price_box"> 
                                         <span class="old_price">$45.00</span>
                                         <span class="current_price">$36.00</span>
                                     </div>
                                     <div class="product_rating">
                                         <ul>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                         </ul>
                                     </div>
                                 </figcaption>
                             </figure>
                         </article>
                     </div>
                </div>
                <div class="col-lg-3">
                    <div class="product_items">
                         <article class="single_product">
                             <figure>
                                 <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img src="../../../assets/img/Product/product14.jpg" alt=""></a>
                                     <a class="secondary_img" href="product-details.html"><img src="../../../assets/img/Product/product3.jpg" alt=""></a>
                                       <div class="label_product">
                                         <span class="label_sale">-20%</span>
                                     </div>
                                     <div class="action_links">
                                         <ul>
                                             <li class="add_to_cart"><a href="cart.html" title="Add tob cart"><i class="icon-bag icons"></i></a></li> 
                                             <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="icon-heart icons"></i></a></li> 
                                             <li class="compare"><a href="#" title="Add to Compare"><i class="icon-shuffle icons"></i></a></li>
                                             <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"> <i class="icon-eye icons"></i></a></li>
                                         </ul>
                                     </div>
                                     
                                 </div>
                                 <figcaption class="product_content">
                                     <h4 class="product_name"><a href="product-details.html">New Balance Arishi Sport v1</a></h4>
                                     <div class="price_box"> 
                                         <span class="old_price">$45.00</span>
                                         <span class="current_price">$28.00</span>
                                     </div>
                                     <div class="product_rating">
                                         <ul>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                         </ul>
                                     </div>
                                 </figcaption>
                             </figure>
                         </article>
                         <article class="single_product">
                             <figure>
                                 <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img src="../../../assets/img/Product/product14.jpg" alt=""></a>
                                    <a class="secondary_img" href="product-details.html"><img src="../../../assets/img/Product/product3.jpg" alt=""></a>
                                      <div class="label_product">
                                         <span class="label_sale">-20%</span>
                                     </div>
                                     <div class="action_links">
                                         <ul>
                                             <li class="add_to_cart"><a href="cart.html" title="Add tob cart"><i class="icon-bag icons"></i></a></li> 
                                             <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="icon-heart icons"></i></a></li> 
                                             <li class="compare"><a href="#" title="Add to Compare"><i class="icon-shuffle icons"></i></a></li>
                                             <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"> <i class="icon-eye icons"></i></a></li>
                                         </ul>
                                     </div>
                                 </div>
                                 <figcaption class="product_content">
                                     <h4 class="product_name"><a href="product-details.html">Calvin Klein Jeans Reflective Logo Full</a></h4>
                                     <div class="price_box"> 
                                         <span class="old_price">$56.00</span>
                                         <span class="current_price">$48.00</span>
                                     </div>
                                     <div class="product_rating">
                                         <ul>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                         </ul>
                                     </div>
                                 </figcaption>
                             </figure>
                         </article>
                     </div>
                </div>
                <div class="col-lg-3">
                    <div class="product_items">
                         <article class="single_product">
                             <figure>
                                 <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img src="../../../assets/img/Product/product14.jpg" alt=""></a>
                                    <a class="secondary_img" href="product-details.html"><img src="../../../assets/img/Product/product3.jpg" alt=""></a>
                                     <div class="action_links">
                                         <ul>
                                             <li class="add_to_cart"><a href="cart.html" title="Add tob cart"><i class="icon-bag icons"></i></a></li> 
                                             <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="icon-heart icons"></i></a></li> 
                                             <li class="compare"><a href="#" title="Add to Compare"><i class="icon-shuffle icons"></i></a></li>
                                             <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"> <i class="icon-eye icons"></i></a></li>
                                         </ul>
                                     </div>
                                 </div>
                                 <figcaption class="product_content">
                                     <h4 class="product_name"><a href="product-details.html">Juicy Couture Juicy Quilted Terry Track</a></h4>
                                     <div class="price_box"> 
                                         <span class="old_price">$67.00</span>
                                         <span class="current_price">$57.00</span>
                                     </div>
                                     <div class="product_rating">
                                         <ul>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                         </ul>
                                     </div>
                                 </figcaption>
                             </figure>
                         </article>
                         <article class="single_product">
                             <figure>
                                 <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img src="../../../assets/img/Product/product14.jpg" alt=""></a>
                                     <a class="secondary_img" href="product-details.html"><img src="../../../assets/img/Product/product3.jpg" alt=""></a>
                                         <div class="action_links">
                                         <ul>
                                             <li class="add_to_cart"><a href="cart.html" title="Add tob cart"><i class="icon-bag icons"></i></a></li> 
                                             <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="icon-heart icons"></i></a></li> 
                                             <li class="compare"><a href="#" title="Add to Compare"><i class="icon-shuffle icons"></i></a></li>
                                             <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"> <i class="icon-eye icons"></i></a></li>
                                         </ul>
                                     </div>
                                 </div>
                                 <figcaption class="product_content">
                                     <h4 class="product_name"><a href="product-details.html">Fila Locker Room Varsity Jacket</a></h4>
                                     <div class="price_box"> 
                                         <span class="old_price">$76.00</span>
                                         <span class="current_price">$65.00</span>
                                     </div>
                                     <div class="product_rating">
                                         <ul>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                         </ul>
                                     </div>
                                 </figcaption>
                             </figure>
                         </article>
                     </div>
                </div>
                <div class="col-lg-3">
                    <div class="product_items">
                         <article class="single_product">
                             <figure>
                                 <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img src="../../../assets/img/Product/product14.jpg" alt=""></a>
                                     <a class="secondary_img" href="product-details.html"><img src="../../../assets/img/Product/product3.jpg" alt=""></a>
                                      <div class="label_product">
                                         <span class="label_sale">-20%</span>
                                     </div>
                                     <div class="action_links">
                                         <ul>
                                             <li class="add_to_cart"><a href="cart.html" title="Add tob cart"><i class="icon-bag icons"></i></a></li> 
                                             <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="icon-heart icons"></i></a></li> 
                                             <li class="compare"><a href="#" title="Add to Compare"><i class="icon-shuffle icons"></i></a></li>
                                             <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"> <i class="icon-eye icons"></i></a></li>
                                         </ul>
                                     </div>
                                 </div>
                                 <figcaption class="product_content">
                                     <h4 class="product_name"><a href="product-details.html">New Balance Fresh Foam LAZR v1 Sport</a></h4>
                                     <div class="price_box"> 
                                         <span class="old_price">$47.00</span>
                                         <span class="current_price">$37.00</span>
                                     </div>
                                     <div class="product_rating">
                                         <ul>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                         </ul>
                                     </div>
                                 </figcaption>
                             </figure>
                         </article>
                         <article class="single_product">
                             <figure>
                                 <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img src="../../../assets/img/Product/product14.jpg" alt=""></a>
                                    <a class="secondary_img" href="product-details.html"><img src="../../../assets/img/Product/product3.jpg" alt=""></a>
                                      <div class="action_links">
                                         <ul>
                                             <li class="add_to_cart"><a href="cart.html" title="Add tob cart"><i class="icon-bag icons"></i></a></li> 
                                             <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="icon-heart icons"></i></a></li> 
                                             <li class="compare"><a href="#" title="Add to Compare"><i class="icon-shuffle icons"></i></a></li>
                                             <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"> <i class="icon-eye icons"></i></a></li>
                                         </ul>
                                     </div>
                                 </div>
                                 <figcaption class="product_content">
                                     <h4 class="product_name"><a href="product-details.html">Brixton Patrol All Terrain Anorak Jacket</a></h4>
                                     <div class="price_box"> 
                                         <span class="old_price">$26.00</span>
                                         <span class="current_price">$22.00</span>
                                     </div>
                                     <div class="product_rating">
                                         <ul>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                         </ul>
                                     </div>
                                 </figcaption>
                             </figure>
                         </article>
                     </div>
                </div>
                <div class="col-lg-3">
                    <div class="product_items">
                         <article class="single_product">
                             <figure>
                                 <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img src="../../../assets/img/Product/product14.jpg" alt=""></a>
                                     <a class="secondary_img" href="product-details.html"><img src="../../../assets/img/Product/product3.jpg" alt=""></a>
                                         <div class="action_links">
                                         <ul>
                                             <li class="add_to_cart"><a href="cart.html" title="Add tob cart"><i class="icon-bag icons"></i></a></li> 
                                             <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="icon-heart icons"></i></a></li> 
                                             <li class="compare"><a href="#" title="Add to Compare"><i class="icon-shuffle icons"></i></a></li>
                                             <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"> <i class="icon-eye icons"></i></a></li>
                                         </ul>
                                     </div>
                                 </div>
                                 <figcaption class="product_content">
                                     <h4 class="product_name"><a href="product-details.html">Trans-Weight Hooded Wind and Water</a></h4>
                                     <div class="price_box"> 
                                         <span class="old_price">$45.00</span>
                                         <span class="current_price">$35.00</span>
                                     </div>
                                     <div class="product_rating">
                                         <ul>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                         </ul>
                                     </div>
                                 </figcaption>
                             </figure>
                         </article>
                         <article class="single_product">
                             <figure>
                                 <div class="product_thumb">
                                    <a class="primary_img" href="product-details.html"><img src="../../../assets/img/Product/product14.jpg" alt=""></a>
                                    <a class="secondary_img" href="product-details.html"><img src="../../../assets/img/Product/product3.jpg" alt=""></a>
                                     <div class="label_product">
                                         <span class="label_sale">-20%</span>
                                     </div>
                                     <div class="action_links">
                                         <ul>
                                             <li class="add_to_cart"><a href="cart.html" title="Add tob cart"><i class="icon-bag icons"></i></a></li> 
                                             <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="icon-heart icons"></i></a></li> 
                                             <li class="compare"><a href="#" title="Add to Compare"><i class="icon-shuffle icons"></i></a></li>
                                             <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"> <i class="icon-eye icons"></i></a></li>
                                         </ul>
                                     </div>
                                 </div>
                                 <figcaption class="product_content">
                                     <h4 class="product_name"><a href="product-details.html">Water and Wind Resistant Insulated</a></h4>
                                     <div class="price_box"> 
                                         <span class="old_price">$54.00</span>
                                         <span class="current_price">$48.00</span>
                                     </div>
                                     <div class="product_rating">
                                         <ul>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                             <li><a href="#"><i class="ion-android-star"></i></a></li>
                                         </ul>
                                     </div>
                                 </figcaption>
                             </figure>
                         </article>
                     </div>
                </div>
            </div>
        </div>  


        </div>
</section>