 <!--blog area start-->
 <section class="blog_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                   <h2>From Our Blog</h2>
                   <p>There are latest blog posts </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blog_carousel blog_column3 owl-carousel">
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a><img src="assets/img/blog1.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                               <h4 class="post_title"><a href="javascript:void(0)"> This is First Post For XipBlog</a></h4>
                               <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been ...
                                </p>
                               <footer class="blog_footer">
                                    <a href="javascript:void(0)">Read More</a>
                                </footer>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="javascript:void(0)"><img src="assets/img/blog2.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                               <h4 class="post_title"><a href="javascript:void(0)"> This is Secound Post For XipBlog</a></h4>
                               <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been ...
                                </p>
                               <footer class="blog_footer">
                                    <a href="javascript:void(0)">Read More</a>
                                </footer>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="javascript:void(0)"><img src="assets/img/blog3.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                               <h4 class="post_title"><a href="javascript:void(0)"> This is Third Post For XipBlog</a></h4>
                               <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been ...
                                </p>
                               <footer class="blog_footer">
                                    <a href="javascript:void(0)">Read More</a>
                                </footer>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="javascript:void(0)"><img src="assets/img/blog4.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                               <h4 class="post_title"><a href="javascript:void(0)"> This is Fourth Post For XipBlog</a></h4>
                               <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been ...
                                </p>
                               <footer class="blog_footer">
                                    <a href="javascript:void(0)">Read More</a>
                                </footer>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!--blog area end-->