<!--header area start-->


<!--offcanvas menu area start-->
<div class="off_canvars_overlay">

</div>
<div class="offcanvas_menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="canvas_open">
                    <a href="javascript:void(0)"><i class="fa fa-bars"></i></a>
                </div>
                <div class="offcanvas_menu_wrapper">
                    <div class="canvas_close">
                        <a href="javascript:void(0)"><i class="fa fa-times-circle"></i></a>  
                    </div>
                    <div class="header_contact_info">
                        <ul>
                            <li><a href="tel:(+800)123456789"><i class="fa fa-phone"></i> (+91)9951525478</a></li>
                           <li><a href="mailto:http://info@gmail.com"><i class="fa fa-envelope"></i> info@gmail.com</a></li>

                        </ul>
                    </div>
                    <div class="language_currency">
                            <ul>
                                <li><a href="#"><i class="icon-shuffle"></i> Compare (3)</a></li>
                                <li class="account"><a href="#"><i class="icon-user"></i>  Setting <i class="icon-right ion-ios-arrow-down"></i></a>
                                    <ul class="dropdown_currency">
                                        <li><a href="#">€ Euro</a></li>
                                        <li><a href="#">£ Pound Sterling</a></li>
                                        <li><a href="#">$ US Dollar</a></li>
                                    </ul>
                                </li>
                                <li class="currency"><a href="#"> USD $ <i class="icon-right ion-ios-arrow-down"></i></a>
                                    <ul class="dropdown_currency">
                                        <li><a href="#">€ Euro</a></li>
                                        <li><a href="#">£ Pound Sterling</a></li>
                                        <li><a href="#">$ US Dollar</a></li>
                                    </ul>
                                </li>
                                <li class="language"><a href="#"><img src="assets/img/icon/language.png" alt=""> English <i class="icon-right ion-ios-arrow-down"></i></a>
                                    <ul class="dropdown_language">
                                        <li><a href="#">French</a></li>
                                        <li><a href="#">Spanish</a></li>
                                        <li><a href="#">Russian</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">
                            <li class="menu-item-has-children active"><a href="#">Home</a></li>
                            <li class="menu-item-has-children">
                                <a href="#">Shop</a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="#">Shop Layouts</a>
                                        <ul class="sub-menu">
                                            <li><a href="shop.html">shop</a></li>
                                            <li><a href="shop-fullwidth.html">Full Width</a></li>
                                            <li><a href="shop-fullwidth-list.html">Full Width list</a></li>
                                            <li><a href="shop-right-sidebar.html">Right Sidebar </a></li>
                                            <li><a href="shop-right-sidebar-list.html"> Right Sidebar list</a></li>
                                            <li><a href="shop-list.html">List View</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">other Pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="cart.html">cart</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="my-account.html">my account</a></li>
                                            <li><a href="404.html">Error 404</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Product Types</a>
                                        <ul class="sub-menu">
                                            <li><a href="product-details.html">product details</a></li>
                                            <li><a href="product-sidebar.html">product sidebar</a></li>
                                            <li><a href="product-grouped.html">product grouped</a></li>
                                            <li><a href="variable-product.html">product variable</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-details.html">blog details</a></li>
                                    <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                    <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                </ul>

                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">pages </a>
                                <ul class="sub-menu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="services.html">services</a></li>
                                    <li><a href="faq.html">Frequently Questions</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a href="login.html">login</a></li>
                                    <li><a href="404.html">Error 404</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="my-account.html">my account</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="about.html">about Us</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="contact.html"> Contact Us</a> 
                            </li>
                        </ul>
                    </div>
                    <div class="offcanvas_footer">
                        <span><a href="#"><i class="fa fa-envelope-o"></i> info@yourdomain.com</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--offcanvas menu area end-->

    <header>
        <div class="main_header">
            <div class="header_top">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-5">
                            <div class="header_contact_info">
                                <ul>
                                    <li><a href="tel:(+91) 9951525478"><i class="fa fa-phone"></i> (+91) 9951525478</a>
                                    </li>
                                    <li><a href="mailto:http://info@gmail.com"><i class="fa fa-envelope"></i>
                                            info@gmail.com</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="language_currency text-right">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="fa fa-random"></i> Compare (3)</a></li>
                                    <li class="account"><a href="javascript:void(0)"><i class="fa fa-user"></i> Setting
                                            <i class="fa fa-chevron-down"></i></a>
                                        <ul class="dropdown_currency">
                                            <li><a href="javascript:void(0)"><i class="fa fa-rupee"></i> Euro</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-rupee"></i> Pound
                                                    Sterling</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-rupee"></i> US Dollar</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="currency"><a href="javascript:void(0)"> India <i class="fa fa-rupee"></i>
                                            <i class="fa fa-chevron-down"></i></a>
                                        <ul class="dropdown_currency">
                                            <li><a href="javascript:void(0)"><i class="fa fa-rupee"></i> Euro</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-rupee"></i> Pound
                                                    Sterling</a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-rupee"></i> US Dollar</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="language"><a href="javascript:void(0)"><img
                                                src="assets/img/icon/language.png" alt=""> English <i
                                                class="fa fa-chevron-down"></i></a>
                                        <ul class="dropdown_language">
                                            <li><a href="javascript:void(0)">French</a></li>
                                            <li><a href="javascript:void(0)">Spanish</a></li>
                                            <li><a href="javascript:void(0)">Russian</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_middle sticky-header">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-3 offset-md-5 offset-lg-0 col-5 offset-3 col-sm-5">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo11.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <!--main menu start-->
                            <div class="main_menu">
                                <nav>
                                    <ul>
                                        <li><a class="active" routerLink="/home">home</a></li>
                                        <li><a routerLink="/about"> About us</a></li>
                                        <li class="mega_items"><a>shop<i class="fa fa-angle-down"></i></a>
                                            <div class="mega_menu">
                                                <ul class="mega_menu_inner">
                                                    <li><a>Shop Layouts</a>
                                                        <ul>
                                                            <li><a routerLink="/productlist">Stripe Jacket</a></li>
                                                            <li><a routerLink="/productlist">Shirt</a></li>
                                                            <li><a routerLink="/productlist">Bag</a></li>
                                                            <li><a routerLink="/productlist">Mobile</a></li>
                                                            <li><a routerLink="/productlist">Laptop</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a>other Pages</a>
                                                        <ul>
                                                            <li><a routerLink="/productlist">Stripe Jacket</a></li>
                                                            <li><a routerLink="/productlist">Shirt</a></li>
                                                            <li><a routerLink="/productlist">Bag</a></li>
                                                            <li><a routerLink="/productlist">Mobile</a></li>
                                                            <li><a routerLink="/productlist">Laptop</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a>Product Types</a>
                                                        <ul>
                                                            <li><a routerLink="/productlist">Stripe Jacket</a></li>
                                                            <li><a routerLink="/productlist">Shirt</a></li>
                                                            <li><a routerLink="/productlist">Bag</a></li>
                                                            <li><a routerLink="/productlist">Mobile</a></li>
                                                            <li><a routerLink="/productlist">Laptop</a></li>

                                                        </ul>
                                                    </li>
                                                    <li><a>Makeup</a>
                                                        <ul>
                                                            <li><a routerLink="/productlist">Stripe Jacket</a></li>
                                                            <li><a routerLink="/productlist">Shirt</a></li>
                                                            <li><a routerLink="/productlist">Bag</a></li>
                                                            <li><a routerLink="/productlist">Mobile</a></li>
                                                            <li><a routerLink="/productlist">Laptop</a></li>

                                                        </ul>
                                                    </li>
                                                    <li class="h_banner_menu2">
                                                        <div class="header_banner_menu">
                                                            <a><img src="assets/img/banner12.jpg" alt=""></a>
                                                        </div>
                                                        <div class="header_banner_menu">
                                                            <a><img src="assets/img/banner13.jpg" alt=""></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                      
                                       
                                        <li><a>pages <i class="fa fa-angle-down"></i></a>
                                            <ul class="sub_menu pages">
                                                <li><a routerLink="/cart">cart</a></li>
                                                <li><a routerLink="/wishlist">Wishlist</a></li>
                                                <li><a routerLink="/checkout">Checkout</a></li>
                                                <li><a routerLink="/myaccount">My Account</a></li>
                                                <li><a routerLink="/error">Error 404</a></li>
                                            </ul>
                                        </li>
                                        <li><a routerLink="/contact"> Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!--main menu end-->
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                            <div class="header_account_area">
                                <div class="header_account_list search_list">
                                    <a href="javascript:void(0)"><i class="fa fa-search"></i></a>
                                    <div class="dropdown_search">
                                        <form action="#">
                                            <input placeholder="Search entire store here ..." type="text">
                                            <button><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="header_account_list">
                                    <a routerLink="/wishlist"><i class="fa fa-heart"></i>
                                        <span class="item_count">3</span>
                                    </a>
                                </div>
                                <div class="header_account_list  mini_cart_wrapper">
                                    <a href="javascript:void(0)"><i class="fa fa-shopping-bag"></i>
                                        <span class="item_count">2</span>
                                    </a>
                                    <!--mini cart-->
                                    <div class="mini_cart">
                                        <div class="cart_gallery">
                                            <div class="cart_item">
                                                <div class="cart_img">
                                                    <a><img src="assets/img/product.jpg" alt="" style="width: 65px;"></a>
                                                </div>
                                                <div class="cart_info">
                                                    <a>Juicy Couture Tricot</a>
                                                    <p>1 x <span> <i class="fa fa-rupee"></i> 39.00 </span></p>
                                                </div>
                                                <div class="cart_remove">
                                                    <a><i class="ion-ios-close-outline"></i></a>
                                                </div>
                                            </div>
                                            <div class="cart_item">
                                                <div class="cart_img">
                                                    <a><img src="assets/img/product.jpg" alt="" style="width: 65px;"></a>
                                                </div>
                                                <div class="cart_info">
                                                    <a>Juicy Couture Juicy</a>
                                                    <p>2 x <span> <i class="fa fa-rupee"></i> 99.00 </span></p>
                                                </div>
                                                <div class="cart_remove">
                                                    <a><i class="ion-ios-close-outline"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mini_cart_table">
                                            <div class="cart_table_border">
                                                <div class="cart_total">
                                                    <span>Sub total:</span>
                                                    <span class="price"><i class="fa fa-rupee"></i> 620.00</span>
                                                </div>
                                                <div class="cart_total mt-10">
                                                    <span>total:</span>
                                                    <span class="price"><i class="fa fa-rupee"></i> 950.00</span>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="mini_cart_footer">
                                            <div class="cart_button">
                                                <a routerLink="/cart"><i class="fa fa-shopping-cart"></i> View cart</a>
                                            </div>
                                            <div class="cart_button">
                                                <a routerLink="/checkout"><i class="fa fa-sign-in"></i> Checkout</a>
                                            </div>

                                        </div>
                                    </div>
                                    <!--mini cart end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--header area end-->