
 <!--testimonial area start-->
 <div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                   <h2>Testimonials</h2>
                   <p>What they say </p>
                </div>
            </div>
        </div> 
        <div class="testimonial_container">
            <div class="row">
                <div class="col-12">
                    <div class="testimonial_thumb_wrapper testimonial_thumb_column3">
                        <div class="testimonial_thumb">
                            <img src="assets/img/about/testimonial1.png" alt="">
                        </div>
                        <div class="testimonial_thumb">
                           <img src="assets/img/about/testimonial2.png" alt="">
                        </div>
                        <div class="testimonial_thumb">
                          <img src="assets/img/about/testimonial3.png" alt="">
                        </div>
                        <div class="testimonial_thumb">
                           <img src="assets/img/about/testimonial1.png" alt="">
                        </div>
                    </div>
                    <div class="testimonial_content_wrapper  testimonial_content_collumn1">
                        <div class="testimonial_content">
                           <p>All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !</p>
                            <a href="https://hasthemes.com/">Demo@hasthemes.com</a>
                            <h3>orando BLoom</h3>
                        </div>
                        <div class="testimonial_content">
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores suscipit itaque sit incidunt temporibus nulla debitis maxime vitae eveniet non aspernatur sunt, ex impedit totam corporis dolor.</p>
                            <a href="https://hasthemes.com/">Demo@hasthemes.com</a>
                            <h3>orando BLoom</h3>
                        </div>
                        <div class="testimonial_content">
                           <p> voluptas laboriosam rem? Nemo quos quod nesciunt labore sequi sunt inventore. Blanditiis, at debitis eaque maxime sequi dignissimos ex harum aut, voluptate iusto hic numquam magni fugiat neque quod!</p>
                            <a href="https://hasthemes.com/">Demo@hasthemes.com</a>
                            <h3>orando BLoom</h3>
                        </div>
                        <div class="testimonial_content">
                           <p>repellat repellendus porro numquam, rerum facilis quia alias. Earum ex, sequi odit ad similique. Facilis cum velit distinctio ratione ex accusantium. Iste dicta alias quas ipsa, labore, nobis impedit</p>
                            <a href="https://hasthemes.com/">Demo@hasthemes.com</a>
                            <h3>orando BLoom</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--testimonial area end-->