
 <section id="testimonial-area">
   <div class="container">
       <div class="row">
         
           <div class="col-md-8 offset-md-2">
               <div class="section-heading text-center">
                   <h5>Testimonial Design </h5>
                   <h2>A Word From Our Customers</h2>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
               </div>
           </div>
        
       </div>
       <div class="testi-wrap">
         
           <div class="client-single active position-1" data-position="position-1">
               <div class="client-img">
                   <img src="https://cdn.dribbble.com/users/2132253/avatars/small/1799e2c9badff08058551384763e284c.jpg?1568268299" alt="">
               </div>
               <div class="client-comment">
                   <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
                   <span><i class="fa fa-quote-left"></i></span>
               </div>
               <div class="client-info">
                   <h3>Design By</h3>
                   <p><a href="https://manjaygupta.com">Manjay Gupta</a></p>
               </div>
           </div>
         
           <div class="client-single inactive position-2" data-position="position-2">
               <div class="client-img">
                   <img src="https://cdn.dribbble.com/users/2132253/avatars/small/1799e2c9badff08058551384763e284c.jpg?1568268299" alt="">
               </div>
               <div class="client-comment">
                   <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
                   <span><i class="fa fa-quote-left"></i></span>
               </div>
               <div class="client-info">
                   <h3>Design By</h3>
                   <p><a href="https://manjaygupta.com">Manjay Gupta</a></p>
               </div>
           </div>
       
           <div class="client-single inactive position-3" data-position="position-3">
               <div class="client-img">
                   <img src="https://cdn.dribbble.com/users/2132253/avatars/small/1799e2c9badff08058551384763e284c.jpg?1568268299" alt="">
               </div>
               <div class="client-comment">
                   <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
                   <span><i class="fa fa-quote-left"></i></span>
               </div>
               <div class="client-info">
                   <h3>Design By</h3>
                   <p><a href="https://manjaygupta.com">Manjay Gupta</a></p>
               </div>
           </div>
          
           <div class="client-single inactive position-4" data-position="position-4">
               <div class="client-img">
                   <img src="https://media.licdn.com/dms/image/C4E03AQFbvYtvSeyw-g/profile-displayphoto-shrink_100_100/0?e=1574294400&v=beta&t=49_VH9HRvqymP-VLETlFhFt4idmunZPhIQfALwaTrmA" alt="">
               </div>
               <div class="client-comment">
                   <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
                   <span><i class="fa fa-quote-left"></i></span>
               </div>
               <div class="client-info">
                   <h3>Design By</h3>
                   <p><a href="https://manjaygupta.com">Manjay Gupta</a></p>
               </div>
           </div>
         
           <div class="client-single inactive position-5" data-position="position-5">
               <div class="client-img">
                   <img src="https://cdn.dribbble.com/users/2132253/avatars/small/1799e2c9badff08058551384763e284c.jpg?1568268299" alt="">
               </div>
               <div class="client-comment">
                   <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
                   <span><i class="fa fa-quote-left"></i></span>
               </div>
               <div class="client-info">
                   <h3>Design By</h3>
                   <p><a href="https://manjaygupta.com">Manjay Gupta</a></p>
               </div>
           </div>
         
           <div class="client-single inactive position-6" data-position="position-6">
               <div class="client-img">
                   <img src="https://cdn.dribbble.com/users/2132253/avatars/small/1799e2c9badff08058551384763e284c.jpg?1568268299" alt="">
               </div>
               <div class="client-comment">
                   <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
                   <span><i class="fa fa-quote-left"></i></span>
               </div>
               <div class="client-info">
                   <h3>Design By</h3>
                   <p><a href="https://manjaygupta.com">Manjay Gupta</a></p>
               </div>
           </div>
         
           <div class="client-single inactive position-7" data-position="position-7">
               <div class="client-img">
                   <img src="https://cdn.dribbble.com/users/2132253/avatars/small/1799e2c9badff08058551384763e284c.jpg?1568268299" width="40px" alt="">
               </div>
               <div class="client-comment">
                   <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
                   <span><i class="fa fa-quote-left"></i></span>
               </div>
               <div class="client-info">
                   <h3>Design By</h3>
                   <p><a href="https://manjaygupta.com">Manjay Gupta</a></p>
               </div>
           </div>
          
       </div>
   </div>
</section>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <!--testimonial area start-->
 <!-- <div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                   <h2>Testimonials</h2>
                   <p>What they say </p>
                </div>
            </div>
        </div> 
        <div class="testimonial_container">
            <div class="row">
                <div class="col-12">
                    <div class="testimonial_thumb_wrapper testimonial_thumb_column3">
                        <div class="testimonial_thumb">
                            <img src="assets/img/about/testimonial1.png" alt="">
                        </div>
                        <div class="testimonial_thumb">
                           <img src="assets/img/about/testimonial2.png" alt="">
                        </div>
                        <div class="testimonial_thumb">
                          <img src="assets/img/about/testimonial3.png" alt="">
                        </div>
                        <div class="testimonial_thumb">
                           <img src="assets/img/about/testimonial1.png" alt="">
                        </div>
                    </div>
                    <div class="testimonial_content_wrapper  testimonial_content_collumn1">
                        <div class="testimonial_content">
                           <p>All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !</p>
                            <a href="https://hasthemes.com/">Demo@hasthemes.com</a>
                            <h3>orando BLoom</h3>
                        </div>
                        <div class="testimonial_content">
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores suscipit itaque sit incidunt temporibus nulla debitis maxime vitae eveniet non aspernatur sunt, ex impedit totam corporis dolor.</p>
                            <a href="https://hasthemes.com/">Demo@hasthemes.com</a>
                            <h3>orando BLoom</h3>
                        </div>
                        <div class="testimonial_content">
                           <p> voluptas laboriosam rem? Nemo quos quod nesciunt labore sequi sunt inventore. Blanditiis, at debitis eaque maxime sequi dignissimos ex harum aut, voluptate iusto hic numquam magni fugiat neque quod!</p>
                            <a href="https://hasthemes.com/">Demo@hasthemes.com</a>
                            <h3>orando BLoom</h3>
                        </div>
                        <div class="testimonial_content">
                           <p>repellat repellendus porro numquam, rerum facilis quia alias. Earum ex, sequi odit ad similique. Facilis cum velit distinctio ratione ex accusantium. Iste dicta alias quas ipsa, labore, nobis impedit</p>
                            <a href="https://hasthemes.com/">Demo@hasthemes.com</a>
                            <h3>orando BLoom</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--testimonial area end-->



<!-- 
<section class="iq-features">
    <div class="container">
        <div class="row align-items-center">
           <div class="col-lg-7 col-md-12 circle-bg">
              <div class="holderCircle">
                 <div class="round"></div>
                 <div class="dotCircle" stylesa="transform: rotate(252deg); transition: all 2s ease 0s;">
                    <div class="itemDot itemDot1" data-tab="1" style="">
                       <img src="https://11fo813dsg4jqjl4374eoxz8-wpengine.netdna-ssl.com/wp-content/themes/wc-marketplace/assets/frontend/img/home/ImageJethroBurnettThorburnMolo-Market.jpg" alt="ImageJethroBurnettThorburnMolo-Market">
                       <span class="forActive"></span>
                    </div>
                    <div class="itemDot itemDot2" data-tab="2" style="">
                       <img src="https://11fo813dsg4jqjl4374eoxz8-wpengine.netdna-ssl.com/wp-content/themes/wc-marketplace/assets/frontend/img/home/heateher-min.jpg" alt="heateher-min">
                       <span class="forActive"></span>
                    </div>
                    <div class="itemDot itemDot3" data-tab="3" style="">
                       <img src="https://11fo813dsg4jqjl4374eoxz8-wpengine.netdna-ssl.com/wp-content/themes/wc-marketplace/assets/frontend/img/home/richard.jpg" alt="richard">
                       <span class="forActive"></span>
                    </div>
                    <div class="itemDot itemDot4 active" data-tab="4" style="">
                       <img src="https://11fo813dsg4jqjl4374eoxz8-wpengine.netdna-ssl.com/wp-content/themes/wc-marketplace/assets/frontend/img/home/JSimone.jpg" alt="JSimone">
                       <span class="forActive"></span>
                    </div>
                    <div class="itemDot itemDot5" data-tab="5" style="">
                       <img src="https://11fo813dsg4jqjl4374eoxz8-wpengine.netdna-ssl.com/wp-content/themes/wc-marketplace/assets/frontend/img/home/lola.jpeg" alt="lola.">
                       <span class="forActive"></span>
                    </div>
                   <div class="itemDot itemDot6" data-tab="6" style="">
                       <img src="https://11fo813dsg4jqjl4374eoxz8-wpengine.netdna-ssl.com/wp-content/themes/wc-marketplace/assets/frontend/img/home/richard.jpg" alt="richard">
                       <span class="forActive"></span>
                    </div>
                   <div class="itemDot itemDot7" data-tab="7" style="">
                       <img src="https://11fo813dsg4jqjl4374eoxz8-wpengine.netdna-ssl.com/wp-content/themes/wc-marketplace/assets/frontend/img/home/heateher-min.jpg" alt="heateher-min">
                       <span class="forActive"></span>
                    </div>
                    
                 </div>
                 <div class="content-star"></div>
                 <div class="contentCircle">
                    <div class="CirItem title-box CirItem1">
                       <h4 class="title">Jethro</h4>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in quam et quam molestie scelerisque vel non dui. Cras augue est, finibus id mi ac, rutrum interdum metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in quam et quam molestie scelerisque vel non dui. Cras augue est, finibus id mi ac, rutrum interdum metus. </p>
                       <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="CirItem title-box CirItem2">
                       <h4 class="title">Heather</h4>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in quam et quam molestie scelerisque vel non dui. Cras augue est, finibus id mi ac, rutrum interdum metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in quam et quam molestie scelerisque vel non dui. Cras augue est, finibus id mi ac, rutrum interdum metus. </p>
                       <i class="fa fa-comments"></i>
                    </div>
                    <div class="CirItem title-box CirItem3">
                       <h4 class="title">Richard</h4>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in quam et quam molestie scelerisque vel non dui. Cras augue est, finibus id mi ac, rutrum interdum metus. </p>
                       <i class="fa fa-user"></i>
                    </div>
                    <div class="CirItem title-box CirItem4 active">
                       <h4 class="title">James</h4>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in quam et quam molestie scelerisque vel non dui. Cras augue est, finibus id mi ac, rutrum interdum metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in quam et quam molestie scelerisque vel non dui. Cras augue est, finibus id mi ac, rutrum interdum metus.  </p>
                       <i class="fa fa-tags"></i>
                    </div>
                    <div class="CirItem title-box CirItem5">
                       <h4 class="title">Lola</h4>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in quam et quam molestie scelerisque vel non dui. Cras augue est, finibus id mi ac, rutrum interdum metus. </p>
                       <i class="fa fa-upload"></i>
                    </div>
                   
                    <div class="CirItem title-box CirItem6">
                       <h4 class="title">Support</h4>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in quam et quam molestie scelerisque vel non dui. Cras augue est, finibus id mi ac, rutrum interdum metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in quam et quam molestie scelerisque vel non dui. Cras augue est, finibus id mi ac, rutrum interdum metus. </p>
                       <i class="fa fa-briefcase"></i>
                    </div>
                   <div class="CirItem title-box CirItem7">
                       <h4 class="title">Lola</h4>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in quam et quam molestie scelerisque vel non dui. Cras augue est, finibus id mi ac, rutrum interdum metus. </p>
                       <i class="fa fa-upload"></i>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-lg-5 col-md-12 love-graphic">
              <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
              <img src="https://11fo813dsg4jqjl4374eoxz8-wpengine.netdna-ssl.com/wp-content/themes/wc-marketplace/assets/frontend/img/Line.png" alt="line">
           </div>
        </div>
     </div>
  </section> -->